@font-face {
  font-family: "BeVietnamPro-Light";
  src: url('../Fonts/BeVietnamPro-Light.otf');
  font-family: "BeVietnamPro-Regular";
  src: url('../Fonts/BeVietnamPro-Regular.otf');
  font-family: "BeVietnamPro-SemiBold";
  src: url('../Fonts/BeVietnamPro-SemiBold.otf');
}

#capGainSector-container {
}


#cgSectorBarPos {
    fill:#7FF224;
}

.cap-gain-label {
    font-size: 12px;
    font-family: "BeVietnamPro-SemiBold", Arial;
}

#cgSectorBarNeg {
    fill:#F0305E;
}


text {
    font-size: 9px;
    font-family: "BeVietnamPro-Light", Arial;
    text-transform: uppercase;
    fill:#F5F5F5;
}

#capGainIndustry-container {

}

#contrastBars {
    fill:#1B2827;
    z-index: -5;
}


body {
    overflow: hidden;
    background-color: #041211;
}

.tick line{
  /* visibility:hidden; */
  stroke: #343F3F;
}


#sliderDiv {
    margin-left: 100px;
}

.centered {
    display:flex;
    justify-content: center;
}

h1 {
    font-size: 18px;
    font-family: "BeVietnamPro-Regular", Arial;
    text-transform: uppercase;
    color:#F5F5F5;
}

input {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 4px; /* Specified height */
  border-radius: 200px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.5; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

input:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    height: 1.5rem;
    width: 0.5rem;  
}